@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

@-ms-viewport{
    width: device-width;
}



body {
    font-family: 'Nunito Sans', sans-serif !important;
    text-decoration: none;
    margin: 0;
}

/* NAVBAR STARTS */
.container {
    background-color: rgb(29, 29, 29);
    display: table;
    width: 100%;
    position: fixed;
}
.name {
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 2rem;
    float: left;
}
.name a {
    margin-left: 3rem;
    color: white;
    text-decoration: none;
}
.navbar {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block !important;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
    letter-spacing: 5px;
    margin-right: 2rem;
}
.navbar a:hover {
    color: #2ecc71 !important;
    font-weight: bold;
}

/* HAMBURGER ICON */
.navbar-btn{
    padding-inline-start: 1px !important;
    float: right;
    display: none;
}
.ham_menu {
    width: 35px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem 0;
    border-radius: 1px;
    display: none;
}
/* HAMBURGER ICON */

/*Javascript*/
.hidehamburger{
    visibility: hidden;
}
.exit-img{
    background-image: url(/assets/images/exit.png);
    background-size: cover;
}
/* NAVBAR ENDS */

/* RESPONSIVE LAYER */
@media screen and (max-width:840px) {
    .navbar li{
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: block;
    }
    .ham_menu{
        display: block !important;
    }
    .navbar-btn{
        display: block;
        margin-top: -2rem;
    }
    .navbar{
        width: 100%;
    }
    .full-navbar{
        display: none;
    }
  }
  
  @media screen and (min-width:840px) {
    .full-navbar{
        display: block !important;
    }
}
/* RESPONSIVE LAYER ENDS*/

/*ABOUT ME*/
.about-me {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.about-me h2 {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.about-me h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -10px;
    background-color: pink;
}

.about-me .col-left, .about-me .col-right{
    width: 40%;
    float: left;
}


.about-me .col-left {
    padding-left: 5%;
    padding-right: 5%;
}

.about-me .col-left img {
    max-width: 100%
}
/*ABOUT ME ENDS*/

/*PARALLAX*/
.parallax {
    background-image: url("/assets/images/flowers.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
